/node_modules/
/docs/.vitepress/dist/
.temp/
/docs/.vitepress/cache/
.vitepress/cache/
GEMINI.md
note.md
# projects/
article_blog/
/docs/projects/agentic-workstation/
/docs/projects/sujith-library/
/docs/projects/eagle-campus/guide/
_temp_for_blog/